<html>
<head>
    <title>Video Detail</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<div id="map" style="width:100%;height:400px;"></div>
<div id="player" ></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=375815fab253599cd1e7cc21902949f4"></script>
<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
    mapOption = { 
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 9// 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커를 표시할 위치와 title 객체 배열입니다 

var videos = JSON.parse("{{ videoJson|escapejs }}");
console.log(videos,1)

var positions = [];
for (var i = 0; i < Object.keys(videos).length; i++) {
    var content = {
        latlng: new kakao.maps.LatLng(videos[i].fields.y, videos[i].fields.x),
        place_name : videos[i].fields.place_name,
    }
    positions.push(content);
};
console.log(positions);

// 마커 이미지의 이미지 주소입니다
var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_red.png';// 마커이미지의 주소입니다    
var imageSize = new kakao.maps.Size(30,35); // 마커이미지의 크기입니다

// 마커 이미지를 생성합니다    
var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
    
var bounds = new kakao.maps.LatLngBounds(); 

var marker;
for (var i = 0; i < positions.length; i ++) {
    
    
    // 마커를 생성합니다
    marker = new kakao.maps.Marker({
        position: positions[i].latlng, // 마커를 표시할 위치
        image: markerImage // 마커이미지 설정 
    });

    marker.setMap(map);
    // LatLngBounds 객체에 좌표를 추가합니다
    bounds.extend(positions[i].latlng);
}

// LatLngBounds 객체에 추가된 좌표들을 기준으로 지도의 범위를 재설정합니다
map.setBounds(bounds);



for (var i = 0; i < positions.length; i ++) {
    // 커스텀 오버레이에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
    var content = '<div class="customoverlay">' +
        '  <a href="https://map.kakao.com/link/map/11394059" target="_blank">' +
        '    <span class="title">구의야구공원</span>' +
        '  </a>' +
        '</div>';
    // 커스텀 오버레이를 생성합니다
    var customOverlay = new kakao.maps.CustomOverlay({
        map: map,
        position: positions[i].latlng,
        content: content,
        yAnchor: 1 
    });


// // -------------------------
// // 유튜브 영상 재생 
var tag = document.createElement('script');

tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

var id = [];
for (var i=0; i<Object.keys(videos).length;i++){
    var content = {
        id : videos[i].pk
    }
    id.push(content)
};
console.log(id)

var player;
for (var i=0; i< id.length;i++){
    console.log(id[i].id,typeof(id[i].id))
    videoId = id[i].id

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            videoId: videoId
        });
        console.log(videoId)
    }
}



</script>


    
</body>
</html>